doctype html
html
    head
        meta(charset="utf-8")
        title=title
        link(rel='stylesheet', href=indexCssSrc)
    body
        include ./_common/nav.jade
        div#container
            include ./_common/aside.jade
            include ./_common/articleList.jade
            include ./_common/footer.jade