#div1 {
  transition: height 1s;
  background: #f00;
  height: 100px;
  padding: 20px;
  overflow: hidden;
  color: #fff;
}
#div2 {
  background: #00f;
  height: 200px;
}
#div1:hover {
  height: auto;
}
#div3 {
  transition: max-height 1s;
  background: #f00;
  max-height: 100px;
  padding: 20px;
  height: auto;
  overflow: hidden;
  color: #fff;
}
#div4 {
  background: #00f;
  height: 200px;
}
#div3:hover {
  max-height: 999px;
}
#div0 {
  transition: height 1s;
  height: 100px;
  background-color: #f00;
  color: #fff;
}
#div0:hover {
  height: 200px;
}
