aside
    ul#aside-ul
        each item in asideList
            if currentPage===item.url
                li.selected
                    a=item.name
            else
                li
                    a(href=item.url)=item.name