@import("global.styl")

body
	#container
		section#articles
			article
				width:100%
				div.title
					border-bottom:1px #ccc solid
					margin-top:2em
					display:flex
					padding:0.5em 0 
					align-items: baseline
					h2.title
						flex:6
						color:text_color
						font-size:1.5em
						padding:0
						border:none
						padding-top:0
					span.date
						flex:1
						font-size:1.2em
				h2
					padding: 1em 0 0.5em 0
					border-bottom: #ccc solid 1px
				a
					color:font_color
				ol
					padding-left:3em
				p
					font-family:font
					margin:1em 0em
					line-height:1.8em
					font-size:1.1em
				blockquote
					border:1px #ddd solid
					background:#fafafa
					border-radius:3px
					padding:0.5em
					a
						color:text_color
				code 
					span
						font-size:1.1em
						font-family:Consolas, "Liberation Mono", Menlo, Courier, monospace
